extends layout
block content 
    a(href="/drivers") "<"Back to Drivers
    br
    br
    img(src=`${driver.profilePicture}`, alt="profile", width="100" height="100")
    h2 #{driver.name} 's Profile
    p Email:#{driver.email}
    p Phone:#{driver.phone}
    P Vehicles:
    ol 
        if(driver.vehicles.length===0)
            p No Vehicles 
        else 
            each vehicle in driver.vehicles 
                li #{vehicle.year} #{vehicle.brand} #{vehicle.model} 
                p Available Seat: #{vehicle.availableSeat}
    p Upcoming Trips:
        ol 
            if(driver.upcomingTrips.length==0)
                p No Trips
            else 
                each trip in driver.upcomingTrips
                    li 
                        a(href=`/trips/${trip.id}`) on #{trip.tripDate} from #{trip.from} to #{trip.destination} 
                    p Passengers for this trip:
                        ol 
                            if(trip.passengers.length===0)
                                p Nobody booked this trip yet
                            else
                                each passenger in trip.passengers
                                    li 
                                        a(href=`/passengers/${passenger.id}`) #{passenger.name}