extends layout
block content 
    a(href="/drivers") "<"Back to Drivers
    h2 #{driver.name} 's Profile
    p Upcoming Trips:
    ol 
        each trip in driver.upcomingTrips
            li on #{trip.tripDate} from #{trip.from} to #{trip.destination} 
            p Passengers for this trip:
                ol 
                    each passenger in trip.passengers
                        li 
                            a(href=`/passengers/${passenger.id}`) #{passenger.name}