extends layout 
block content 
    a(href="/passengers") "<"Back to Passengers
    br
    br
    img(src=`${passenger.profilePicture}`, alt="profile", width="100" height="100")
    p #{passenger.name}'s Profile 
    p Email:#{passenger.email}
    p Phone:#{passenger.phone}
    p Upcoming Trips: 
        ol 
            if(passenger.upcomingTrips.length===0)
                p No trips 
            else
                each trip in passenger.upcomingTrips 
                    li 
                        a(href=`/trips/${trip.id}`) on #{trip.tripDate} from #{trip.from} to #{trip.destination}