extends layout 
block content 
    a(href="/passengers") "<"Back to Passengers
    p #{passenger.name}'s Profile 
    p Upcoming Trips: 
        ol 
            if(!passenger.upcomingTrips)
                p No trips 
            else
                each trip in passenger.upcomingTrips 
                    li 
                        a(href=`/trips/${trip.id}`) on #{trip.tripDate} from #{trip.from} to #{trip.destination}