extends layout 
block content 
    a(href="/trips") "<"Back to trips
    h3 On #{trip.tripDate} from #{trip.from} to #{trip.destination}
    h3 Trip Details: 
    ul 
        li Driver: 
            a(href=`/drivers/${trip.driver._id}`) #{trip.driver.name}
        li Vehicle: #{trip.vehicle.year} #{trip.vehicle.brand} #{trip.vehicle.model}  
        li Passengers:
        if(trip.passengers.length===0)
            p There is no passenger for this trip 
        else     
        ol      
            each passenger in trip.passengers
                li 
                    a(href=`/passengers/${passenger.id}`) #{passenger.name}
        li Available seats: #{trip.vehicle.availableSeat}
        li Status: #{trip.status}